<!-- Room Suit -->
<div class="col-sm-4 suit">
    <div class="room-thumb">
        <img src="~/images/rooms/suit/suit1.jpg" alt="room 4" class="img-responsive" />
        <div class="mask">
            <div class="main">
                <h5>Suit Room</h5>
                <div class="price">539,00 <i class="fa fa-try" aria-hidden="true"></i><span>Bir Gece</span></div>
            </div>
            <div class="content">
                <p>
                    Odalarımız, tatil ve iş amaçlı gelen konuklarımızın konforu ve çalışma ihtiyaçları göz önüne alınarak tasarlanmıştır. Misafirlerimize, otelin odalar ve ortak kullanım alanlarında internet WiFi erişimi ücretsizdir.
                </p>
                <div class="row">
                    <div class="col-xs-6">
                        <ul class="list-unstyled">
                            <li><i class="fa fa-check-circle"></i> Açık Büfe Kahvaltı</li>
                            <li><i class="fa fa-check-circle"></i> Minibar</li>
                            <li><i class="fa fa-check-circle"></i>Deniz manzarası</li>
                        </ul>
                    </div>
                    <div class="col-xs-6">
                        <ul class="list-unstyled">
                            <li><i class="fa fa-check-circle"></i> Ücretsiz Wi-Fi</li>
                            <li><i class="fa fa-check-circle"></i> Klima</li>
                            <li><i class="fa fa-check-circle"></i> Televizyon</li>
                        </ul>
                    </div>
                </div>
                <a href="@Url.Action("SuitRoom")" class="btn btn-primary btn-block">Book Now</a>
            </div>
        </div>
    </div>
</div>
