<!-- Gallery -->
<section class="gallery-slider mt100">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2 class="lined-heading"><span>GALERİ</span></h2>
            </div>
        </div>
    </div>
    <div id="owl-gallery" class="owl-carousel">
        <div class="item"><a href="~/images/gallery/Lobi/lobi.jpg" data-rel="prettyPhoto[gallery1]"><img src="~/images/gallery/Lobi/lobi.jpg" alt="Image 1"><i class="fa fa-search"></i></a></div>
        <div class="item"><a href="~/images/gallery/Lobi/lobi1.jpg" data-rel="prettyPhoto[gallery1]"><img src="~/images/gallery/Lobi/lobi1.jpg" alt="Image 2"><i class="fa fa-search"></i></a></div>
        <div class="item"><a href="~/images/gallery/Lobi/lobi2.jpg" data-rel="prettyPhoto[gallery1]"><img src="~/images/gallery/Lobi/lobi2.jpg" alt="Image 3"><i class="fa fa-search"></i></a></div>
        <div class="item"><a href="~/images/gallery/ResturantVeBüfe/bufe.jpg" data-rel="prettyPhoto[gallery1]"><img src="~/images/gallery/ResturantVeBüfe/bufe.jpg" alt="Image 4"><i class="fa fa-search"></i></a></div>
        <div class="item"><a href="~/images/gallery/ResturantVeBüfe/bufe1.jpg" data-rel="prettyPhoto[gallery1]"><img src="~/images/gallery/ResturantVeBüfe/bufe1.jpg" alt="Image 5"><i class="fa fa-search"></i></a></div>
        <div class="item"><a href="~/images/gallery/ResturantVeBüfe/bufe2.jpg" data-rel="prettyPhoto[gallery1]"><img src="~/images/gallery/ResturantVeBüfe/bufe2.jpg" alt="Image 6"><i class="fa fa-search"></i></a></div>
        <div class="item"><a href="~/images/gallery/ResturantVeBüfe/bufe3.jpg" data-rel="prettyPhoto[gallery1]"><img src="~/images/gallery/ResturantVeBüfe/bufe3.jpg" alt="Image 7"><i class="fa fa-search"></i></a></div>
        <div class="item"><a href="~/images/gallery/ResturantVeBüfe/bufe4.jpg" data-rel="prettyPhoto[gallery1]"><img src="~/images/gallery/ResturantVeBüfe/bufe4.jpg" alt="Image 8"><i class="fa fa-search"></i></a></div>
        <div class="item"><a href="~/images/gallery/ResturantVeBüfe/bufe5.jpg" data-rel="prettyPhoto[gallery1]"><img src="~/images/gallery/ResturantVeBüfe/bufe5.jpg" alt="Image 9"><i class="fa fa-search"></i></a></div>
        <div class="item"><a href="~/images/gallery/ResturantVeBüfe/resturant.jpg" data-rel="prettyPhoto[gallery1]"><img src="~/images/gallery/ResturantVeBüfe/resturant.jpg" alt="Image 10"><i class="fa fa-search"></i></a></div>
        <div class="item"><a href="~/images/gallery/ResturantVeBüfe/resturant1.jpg" data-rel="prettyPhoto[gallery1]"><img src="~/images/gallery/ResturantVeBüfe/resturant1.jpg" alt="Image 11"><i class="fa fa-search"></i></a></div>
        <div class="item"><a href="~/images/gallery/ResturantVeBüfe/resturant2.jpg" data-rel="prettyPhoto[gallery1]"><img src="~/images/gallery/ResturantVeBüfe/resturant2.jpg" alt="Image 12"><i class="fa fa-search"></i></a></div>
        <div class="item"><a href="~/images/gallery/Aktiviteler/akitivite.jpg" data-rel="prettyPhoto[gallery1]"><img src="~/images/gallery/Aktiviteler/akitivite.jpg" alt="Image 13"><i class="fa fa-search"></i></a></div>
        <div class="item"><a href="~/images/gallery/Aktiviteler/aktivite2.jpg" data-rel="prettyPhoto[gallery1]"><img src="~/images/gallery/Aktiviteler/aktivite2.jpg" alt="Image 14"><i class="fa fa-search"></i></a></div>
        <div class="item"><a href="~/images/gallery/Aktiviteler/aktivite3.jpg" data-rel="prettyPhoto[gallery1]"><img src="~/images/gallery/Aktiviteler/aktivite3.jpg" alt="Image 15"><i class="fa fa-search"></i></a></div>
        <div class="item"><a href="~/images/gallery/Aktiviteler/aktivite4.jpg" data-rel="prettyPhoto[gallery1]"><img src="~/images/gallery/Aktiviteler/aktivite4.jpg" alt="Image 16"><i class="fa fa-search"></i></a></div>
        <div class="item"><a href="~/images/gallery/HamamSPAveHavuz/Hamam.jpg" data-rel="prettyPhoto[gallery1]"><img src="~/images/gallery/HamamSPAveHavuz/Hamam.jpg" alt="Image 17"><i class="fa fa-search"></i></a></div>
        <div class="item"><a href="~/images/gallery/HamamSPAveHavuz/Spa.jpg" data-rel="prettyPhoto[gallery1]"><img src="~/images/gallery/HamamSPAveHavuz/Spa.jpg" alt="Image 18"><i class="fa fa-search"></i></a></div>
        <div class="item"><a href="~/images/gallery/HamamSPAveHavuz/Havuz.jpg" data-rel="prettyPhoto[gallery1]"><img src="~/images/gallery/HamamSPAveHavuz/Havuz.jpg" alt="Image 19"><i class="fa fa-search"></i></a></div>
        <div class="item"><a href="~/images/gallery/HamamSPAveHavuz/Havuz1.jpg" data-rel="prettyPhoto[gallery1]"><img src="~/images/gallery/HamamSPAveHavuz/Havuz1.jpg" alt="Image 20"><i class="fa fa-search"></i></a></div>
        <div class="item"><a href="~/images/gallery/HamamSPAveHavuz/Havuz2.jpg" data-rel="prettyPhoto[gallery1]"><img src="~/images/gallery/HamamSPAveHavuz/Havuz2.jpg" alt="Image 21"><i class="fa fa-search"></i></a></div>
        <div class="item"><a href="~/images/gallery/HamamSPAveHavuz/Havuz3.jpg" data-rel="prettyPhoto[gallery1]"><img src="~/images/gallery/HamamSPAveHavuz/Havuz3.jpg" alt="Image 22"><i class="fa fa-search"></i></a></div>


    </div>
</section>
