<!-- Ansa Sayfa Hizmetlerimiz Partial Views görünümü yaptık -->

<section class="usp mt100">
    <div class="container">
        <div class="row">
            <h2 class="lined-heading"><span>HİZMETLERİMİZ</span></h2>

            <div class="col-sm-12">
                <div class="col-sm-3 bounceIn appear" data-start="0">
                    <div class="box-icon">
                        <div class="circle"><i class="icon-bar fa fa-cutlery fa-4x fa-lg   g"></i></div>
                        <h4>24 Saat Açık Restoran</h4>
                    </div>
                </div>
                <div class="col-sm-3 bounceIn appear" data-start="200">
                    <div class="box-icon">
                        <div class="circle"><i class="fa fa-credit-card fa-4x fa-lg"></i></div>
                        <h4>Önce Kal, Sonra Ödeme İmkanı !</h4>
                    </div>
                </div>
                <div class="col-sm-3 bounceIn appear" data-start="400">
                    <div class="box-icon">
                        <div class="circle"><i class="fa fa-glass fa-4x fa-l"></i></div>
                        <h4>Ücretsiz İçecekler</h4>
                    </div>
                </div>
                <div class="col-sm-3 bounceIn appear" data-start="600">
                    <div class="box-icon">
                        <div class="circle "><i class="fa fa-wifi fa-4x fa-lg "></i></div>
                        <h5>Ücretsiz WİFİ</h5>
                    </div>
                </div>
            </div>

            <div class="col-sm-12">
                <div class="col-sm-3 bounceIn appear mt20" data-start="800">
                    <div class="box-icon">
                        <div class="circle"><i class="fa fa-gamepad fa-5x fa-lg"></i></div>
                        <h4>24 Oyun Alanları</h4>
                    </div>
                </div>
                <div class="col-sm-3 bounceIn appear mt20" data-start="1000">
                    <div class="box-icon">
                        <div class="circle"><i class="fa fa-heartbeat fa-4x" aria-hidden="true"></i></div>
                        <h4>Sağlık Hizmeti</h4>
                    </div>
                </div>
                <div class="col-sm-3 bounceIn appear mt20" data-start="1200">
                    <div class="box-icon">
                        <div class="circle"><i class="fa fa-desktop fa-4x fa-lg" ></i></div>
                        <h4>Tüm Odalarda TV</h4>
                    </div>
                </div>
                <div class="col-sm-3 bounceIn appear mt20" data-start="1400">
                    <div class="box-icon">
                        <div class="circle "><i class="fa fa-car fa-4x fa-lg"aria-hidden="true"></i></div>
                        <h4>Kapalı Otopark</h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>