<!-- Gallery -->
<section id="gallery" class="mt50">
    <div class="container">
        <div class="row gallery">
            <!-- Image 1 -->
            <div class="col-sm-3 lobi fadeIn appear"> <a href="/images/gallery/Lobi/lobi.jpg" data-rel="prettyPhoto[gallery1]"><img src="/images/gallery/Lobi/lobi.jpg" alt="image" class="img-responsive zoom-img" /><i class="fa fa-search"></i></a> </div>
            <!-- Image 2 -->
            <div class="col-sm-3 lobi fadeIn appear"> <a href="~/images/gallery/Lobi/lobi1.jpg" data-rel="prettyPhoto[gallery1]"><img src="~/images/gallery/Lobi/lobi1.jpg" alt="image" class="img-responsive zoom-img" /><i class="fa fa-search"></i></a> </div>
            <!-- Image 3 -->
            <div class="col-sm-3 lobi fadeIn appear"> <a href="~/images/gallery/Lobi/lobi2.jpg" data-rel="prettyPhoto[gallery1]"><img src="~/images/gallery/Lobi/lobi2.jpg" alt="image" class="img-responsive zoom-img" /><i class="fa fa-search"></i></a> </div>
            <!-- Image 4 -->
            <div class="col-sm-3 restaurant fadeIn appear"> <a href="/images/gallery/ResturantVeBüfe/bufe.jpg" data-rel="prettyPhoto[gallery1]"><img src="/images/gallery/ResturantVeBüfe/bufe.jpg" alt="image" class="img-responsive zoom-img" /><i class="fa fa-search"></i></a> </div>
            <!-- Image 5 -->
            <div class="col-sm-3 restaurant  fadeIn appear"> <a href="/images/gallery/ResturantVeBüfe/bufe1.jpg" data-rel="prettyPhoto[gallery1]"><img src="/images/gallery/ResturantVeBüfe/bufe1.jpg" alt="image" class="img-responsive zoom-img" /><i class="fa fa-search"></i></a> </div>
            <!-- Image 6 -->
            <div class="col-sm-3 restaurant fadeIn appear"> <a href="/images/gallery/ResturantVeBüfe/bufe2.jpg" data-rel="prettyPhoto[gallery1]"><img src="/images/gallery/ResturantVeBüfe/bufe2.jpg" alt="image" class="img-responsive zoom-img" /><i class="fa fa-search"></i></a> </div>
            <!-- Image 7 -->
            <div class="col-sm-3 restaurant fadeIn appear"> <a href="/images/gallery/ResturantVeBüfe/bufe3.jpg" data-rel="prettyPhoto[gallery1]"><img src="/images/gallery/ResturantVeBüfe/bufe3.jpg" alt="image" class="img-responsive zoom-img" /><i class="fa fa-search"></i></a> </div>
            <!-- Image 8 -->
            <div class="col-sm-3 restaurant fadeIn appear"> <a href="/images/gallery/ResturantVeBüfe/bufe4.jpg" data-rel="prettyPhoto[gallery1]"><img src="/images/gallery/ResturantVeBüfe/bufe4.jpg" alt="image" class="img-responsive zoom-img" /><i class="fa fa-search"></i></a> </div>
            <!-- Image 9 -->
            <div class="col-sm-3 restaurant fadeIn appear"> <a href="/images/gallery/ResturantVeBüfe/bufe5.jpg" data-rel="prettyPhoto[gallery1]"><img src="/images/gallery/ResturantVeBüfe/bufe5.jpg" alt="image" class="img-responsive zoom-img" /><i class="fa fa-search"></i></a> </div>
            <!-- Image 10 -->
            <div class="col-sm-3 restaurant fadeIn appear"> <a href="/images/gallery/ResturantVeBüfe/resturant.jpg" data-rel="prettyPhoto[gallery1]"><img src="/images/gallery/ResturantVeBüfe/resturant.jpg" alt="image" class="img-responsive zoom-img" /><i class="fa fa-search"></i></a> </div>
            <!-- Image 11 -->
            <div class="col-sm-3 restaurant fadeIn appear"> <a href="/images/gallery/ResturantVeBüfe/resturant1.jpg" data-rel="prettyPhoto[gallery1]"><img src="/images/gallery/ResturantVeBüfe/resturant1.jpg" alt="image" class="img-responsive zoom-img" /><i class="fa fa-search"></i></a> </div>
            <!-- Image 12 -->
            <div class="col-sm-3 restaurant fadeIn appear"> <a href="/images/gallery/ResturantVeBüfe/resturant2.jpg" data-rel="prettyPhoto[gallery1]"><img src="/images/gallery/ResturantVeBüfe/resturant2.jpg" alt="image" class="img-responsive zoom-img" /><i class="fa fa-search"></i></a> </div>
            <!-- Image 13 -->
            <div class="col-sm-3 aktiviteler fadeIn appear"> <a href="/images/gallery/Aktiviteler/akitivite.jpg" data-rel="prettyPhoto[gallery1]"><img src="/images/gallery/Aktiviteler/akitivite.jpg" alt="image" class="img-responsive zoom-img" /><i class="fa fa-search"></i></a> </div>
            <!-- Image 14 -->
            <div class="col-sm-3 aktiviteler fadeIn appear"> <a href="/images/gallery/Aktiviteler/aktivite2.jpg" data-rel="prettyPhoto[gallery1]"><img src="/images/gallery/Aktiviteler/aktivite2.jpg" alt="image" class="img-responsive zoom-img" /><i class="fa fa-search"></i></a> </div>
            <!-- Image 15 -->
            <div class="col-sm-3 aktiviteler fadeIn appear"> <a href="/images/gallery/Aktiviteler/aktivite3.jpg" data-rel="prettyPhoto[gallery1]"><img src="/images/gallery/Aktiviteler/aktivite3.jpg" alt="image" class="img-responsive zoom-img" /><i class="fa fa-search"></i></a> </div>
            <!-- Image 16 -->
            <div class="col-sm-3 aktiviteler fadeIn appear"> <a href="/images/gallery/Aktiviteler/aktivite4.jpg" data-rel="prettyPhoto[gallery1]"><img src="/images/gallery/Aktiviteler/aktivite4.jpg" alt="image" class="img-responsive zoom-img" /><i class="fa fa-search"></i></a> </div>
            <!-- Image 17 -->
            <div class="col-sm-3 hamamSpaHavuz fadeIn appear"> <a href="/images/gallery/HamamSPAveHavuz/Hamam.jpg" data-rel="prettyPhoto[gallery1]"><img src="/images/gallery/HamamSPAveHavuz/Hamam.jpg" alt="image" class="img-responsive zoom-img" /><i class="fa fa-search"></i></a> </div>
            <!-- Image 18 -->
            <div class="col-sm-3 hamamSpaHavuz fadeIn appear"> <a href="/images/gallery/HamamSPAveHavuz/Spa.jpg" data-rel="prettyPhoto[gallery1]"><img src="/images/gallery/HamamSPAveHavuz/Spa.jpg" alt="image" class="img-responsive zoom-img" /><i class="fa fa-search"></i></a> </div>
            <!-- Image 19 -->
            <div class="col-sm-3 hamamSpaHavuz fadeIn appear"> <a href="/images/gallery/HamamSPAveHavuz/Havuz.jpg" data-rel="prettyPhoto[gallery1]"><img src="/images/gallery/HamamSPAveHavuz/Havuz.jpg" alt="image" class="img-responsive zoom-img" /><i class="fa fa-search"></i></a> </div>
            <!-- Image 20 -->
            <div class="col-sm-3 hamamSpaHavuz fadeIn appear"> <a href="/images/gallery/HamamSPAveHavuz/Havuz1.jpg" data-rel="prettyPhoto[gallery1]"><img src="/images/gallery/HamamSPAveHavuz/Havuz1.jpg" alt="image" class="img-responsive zoom-img" /><i class="fa fa-search"></i></a> </div>
            <!-- Image 21 -->
            <div class="col-sm-3 hamamSpaHavuz fadeIn appear"> <a href="/images/gallery/HamamSPAveHavuz/Havuz2.jpg" data-rel="prettyPhoto[gallery1]"><img src="/images/gallery/HamamSPAveHavuz/Havuz2.jpg" alt="image" class="img-responsive zoom-img" /><i class="fa fa-search"></i></a> </div>
            <!-- Image 22 -->

        </div>
    </div>
</section>
